## <---------- ENVIRONMENT & CONFIG FILES ---------->
## .env file stores environment variables like DB credentials, secret keys, etc.
.env

## docker-compose.yml defines and runs multi-container Docker apps
docker-compose.yml

## Dockerfile is used to build the image for your application
Dockerfile
D:/Coding/Python-Projects/Sentilytics/DockerFile
